<h1 style="color: hwb(184 14% 64%);">Hitloop backend info</h1>
<p>This main page serves as extra information for how the hitloop backend works. The backend outputs a json file that tells tone.js what notes to play at what channel and what velocity.</p>
<p>The application currently can only generate drums and bass for 1 bar.</p>
<p>&nbsp;</p>
<h2 style="color: #2e6c80;">How to generate MIDI:</h2>
<p>The template for creating the json midi files is:</p>
<p><span class="ui-provider gp b c d e f g h i j k l m n o p q r s t u v w x y z ab ac ae af ag ah ai aj ak" dir="ltr"><a href="https://api-hitloop.responsible-it.nl/test_json?seed=120">https://api-hitloop.responsible-it.nl/test_json?seed=120</a></span></p>
<p>&nbsp;</p>
<p><span class="ui-provider gp b c d e f g h i j k l m n o p q r s t u v w x y z ab ac ae af ag ah ai aj ak" dir="ltr">The seed is a parameter you can set. If you use the same seed, you will get the exact same MIDI returned.</span></p>
<h2 style="color: #2e6c80;">How to Read the MIDI:</h2>
<p><span class="ui-provider gp b c d e f g h i j k l m n o p q r s t u v w x y z ab ac ae af ag ah ai aj ak" dir="ltr">The json file is built the header and track info.</span></p>
<p>The header contains information like the time signature (always 4/4) and ppq. Ppq is information tone.js uses to calculate the time each note will take. You can see it as how many sub-divisions the file can have for each beat. This is always 32 in the model. The temp is kept empty in the MIDI and should be adjusted in the frontend.</p>
<p>&nbsp;</p>
<p>The track info contains all tracks of the MIDI file. For now there are a maximum of 2 tracks. The drum track and bass track.</p>
<p>Each track contains information like the name, instrument and MIDI channel. It also contains 'events' each event says when a note is played, at what pitch, what velocity (how loud) and for how long. The time is given in both seconds and ppq's.</p>
<p>&nbsp;</p>
<p>The way to import this json into the MIDI can be quite confusing. I recommend looking at this Github repo for how to import MIDI into the audio. The Json you can get from the API is already in the correct format so you can change</p>
<pre><span class="pl-k">const</span> <span class="pl-s1">midi</span> <span class="pl-c1">=</span> <span class="pl-k">await</span> <span class="pl-v">Midi</span><span class="pl-kos">.</span><span class="pl-en">fromUrl</span><span class="pl-kos">(</span><span class="pl-s">"path/to/midi.mid"</span><span class="pl-kos">)<br /><br />to <br /></span></pre>
<p>fetch('https://api-hitloop.responsible-it.nl/test_json?seed=120')<br />.then(response =&gt; response.json())<br />.then(json =&gt; {<br />const midi = json;<br />console.log(midi);<br />})<br />.catch(error =&gt; console.error(error));</p>
<pre><span class="pl-kos"><br />This will save the json as the const midi.<br />You can then use this in tone.js</span></pre>
<p><a href="https://github.com/Tonejs/Midi">https://github.com/Tonejs/Midi.</a></p>
<p>&nbsp;</p>
<h2 style="color: #2e6c80;">Inspiration for tone.js</h2>
<p>There are alot of examples on the tone.js website on how to use the application</p>
<p>To play audio you need to insert notes into an instrument. Simplest to implement is PolySynth. For samples you need the sampler. Information here: <a href="https://tonejs.github.io/docs/14.7.77/index.html">https://tonejs.github.io/docs/14.7.77/index.html</a></p>
<p>&nbsp;</p>
<p>A list of prototypes using tone.js can be found here. You can use it as inspiration for how to code certain aspects: <a href="https://tonejs.github.io/demos">https://tonejs.github.io/demos</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2 style="color: #2e6c80;">Patch_notes:</h2>
<p>Current version is V1.2</p>
<p>V1.2 (12-04-2023 Evening):</p>
<p>Fixed issue where seed did not give the same outputs</p>
<p>Updated model to version 8 april</p>
<p>Corrected Midi Frequency-note name. Now every note is correctly labeled</p>
<p>&nbsp;</p>
<p>V1.1 (11-04-2023):</p>
<p>Initial version with original code and model</p>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>